body{
	background-color: rgb(63, 149, 169, 0.1);
}

.add-lowongan{
	box-shadow: 0 4px 8px 0 rgba(104,200,216,0.2);
	background-color: white;
}

.add-lowongan hr{
    background-color: rgb(63, 149, 169, 0.1);
    height: 4px;
}


.salary-title{
    color: #BDBDBD;
    font-weight: bold;
}

.form-check label{
    font-size: 13px;
}

.btn-tambah-skill{
    border: 2px solid #68C8D8;
    color: #68C8D8;

}

.btn-tambah-skill:hover{
    border: 2px solid #68C8D8;
    background: rgb(63, 149, 169, 0.1);
    color: #3F95A9;

}


.btn-simpan{
    color: white;
    background: #68C8D8;
    border-radius: 100px;
    width: 140px;
    height: 40px;
    float: right;
}


textarea:hover, 
input:hover, 
textarea:active, 
input:active, 
textarea:focus, 
input:focus,
label:focus
{
    outline:0px !important;
    -webkit-appearance:none;
    box-shadow: none !important;
}

/* floating label */
.has-float-label{
	display:block;
	position:relative
}
.has-float-label label, .has-float-label > span{
	position:absolute;
	cursor:text;
	font-size:75%;
	opacity:1;
	-webkit-transition:all .2s;
	transition:all .2s;
	top:-.5em;
	left:.75rem;
	z-index:3;
	line-height:1;
    padding:0 1px;  
    color : black;
    font-weight: bold;  
}
.has-float-label label::after, .has-float-label > span::after{
	content:" ";
	display:block;
	position:absolute;
	background:#fff;
	height:2px;
	top:50%;
	left:-.2em;
	right:-.2em;
    z-index:-1;    
    color : black;
    font-weight: bold;
}
.has-float-label .form-control::-webkit-input-placeholder{
	opacity:1;
	-webkit-transition:all .2s;
    transition:all .2s;
    box-shadow: none;
    
}
.has-float-label .form-control::-moz-placeholder{
	opacity:1;
	transition:all .2s;
}
.has-float-label .form-control:-ms-input-placeholder{
	opacity:1;
	transition:all .2s;
}
.has-float-label .form-control::placeholder{
	opacity:1;
	-webkit-transition:all .2s;
    transition:all .2s;
    
}
.has-float-label .form-control:placeholder-shown:not(:focus)::-webkit-input-placeholder{
	opacity:0;
}
.has-float-label .form-control:placeholder-shown:not(:focus)::-moz-placeholder{
	opacity:0;
}
.has-float-label .form-control:placeholder-shown:not(:focus):-ms-input-placeholder{
	opacity:0;
}
.has-float-label .form-control:placeholder-shown:not(:focus)::placeholder{
	opacity:0;
}
.has-float-label .form-control:placeholder-shown:not(:focus)+*{
	font-size:100%;
	color: #6c757d;
	opacity: 1;
    top:.3em;    
        
}

.has-float-label .form-control:placeholder-shown:not(:focus)+*{
	font-size:100%;
	color: #6c757d;
	opacity: 1;
    top:.3em;    ;
    
}
.has-float-label .form-control:placeholder-shown:not(:focus) + * {
    margin-top: 6px;    
}

