body{
    background-color: rgb(63, 149, 169, 0.1);
}

.user-info-container{
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.info-lengkapi-profile{
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    background-color: white;
}

.info-lengkapi-profile a{
    color: black;
}

.info-lengkapi-profile a:hover{
    color: #68C8D8;
}

.fa-angle-right{
    margin-top: 5px;
}

.announcement{
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    background-color: white;
}

#image-kategori {
    display: block;
    margin: auto;
    margin-top: 15%;
    width: 85px;
    height: 85px;
    background: rgb(63, 149, 169, 0.2);
    border-radius: 100px;
}


/* wrap */

.wrap-image-header{
    background: url('/images/Background1.png');
    height: 200px;
    background-repeat: no-repeat;    
    background-size: cover;
    background-position: center;        
    width: 100%;
    position: relative;
}

.wrap-image-header::after {
	content: ''; 
	width: 100%; 
	height: 100%;
	background-color: rgb(63, 149, 169,0.4); 
	/* opacity: 0.4;  */
	position: absolute; 
	top: 0; 
	left: 0;	
}

.wrap-image-header .page-title{
    position: absolute;
    text-align: start;    
    z-index: 2;
    left: 0;
    top: 35px;    
    font-size: 25px;
}

.wrap-image-header .page-title .title-username{
    color: #68C8D8;
    font-weight: bolder;
    text-transform: uppercase;
}

.wrap-image-header .page-title .title-text{
    color: white;
    font-weight: bolder;    
}



.daftar-title{
    font-weight: bolder;
    font-size: 20px;
}

.btn-look-another{
    font-weight: bolder;
    font-size: 20px;
    color: #68C8D8;
}

.btn-look-another .fa-angle-right{
    font-size: 24px;    
}


/* Daftar Lowongan */

.img-genyhire{      
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.lowongan-card{
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);    
}

.square-image{
    border: 1px solid #BDBDBD;
    height: 120px;    
    display: flex;
    justify-content: center;
    align-items: center;
}

.nama-lowongan{
    font-weight: bolder;
    color: #3F95A9;
    font-size: 20px;
    text-transform: capitalize;
    margin-top: 50px;

}

.btn-share{
    color: #68C8D8;
    font-size: 20px;
}

.hour-text{
    color: #BDBDBD;
}

.hour-text img{
    height: 20px;    
}

hr{
    height: 2px;
    background-color: rgb(63, 149, 169, 0.3);
    border: none;
}

.lowongan-card .footer-card .btn-block {
    background: #68C8D8;
    border-radius: 100px;
    color: white;
    font-weight: bold;
    transition: 0.3s;
}

.lowongan-card .footer-card .btn-block:hover {
    background: #0F91A7;    
}

.jml-pelamar-tag{
    color: #219653;
    font-weight: bolder;
    font-size: 20px;
}

/* Daftar kursus */

.kursus-list .header{
    position: relative;
    text-align: center;
}

.kursus-list .header::after{
    content: ''; 
	width: 100%; 
	height: 28%;
	background-color: black; 
	opacity: 0.5; 
	position: absolute; 
    bottom: 0;	
    left: 0;

}
.course-update{
    position: absolute;
    bottom: 0px;
    color: white;   
    z-index: 1;
}

.member-count{
    position: absolute;
    bottom: 0px;
    right: 0;
    color: white;
    z-index: 1;
}

.kursus-list h6.course-category{
    position: relative;
    color: #3F95A9;
    margin-bottom: 10px;
    padding-left: 30px;
}

.kursus-list h6.course-category::before{
    content: "";
    position: absolute;
    left: 0;
    top: 9px;
    width: 20px;
    height: 2px;
    background: #3F95A9;
}
.kursus-list .course-name{    
    font-weight: bolder;
}

.kursus-list .footer-card .price-tag{
    color: #219653;
}

.kursus-list .footer-card .btn-block {
    background: #68C8D8;
    border-radius: 100px;
    color: white;
    font-weight: bold;
    transition: 0.3s;
}

.kursus-list .footer-card .btn-block:hover {
    background: #0F91A7;    
}

.img-genyedu{
    margin-top: 50px;    
    display: block;
    margin-left: auto;
    margin-right: auto;
}


/* search */

.has-search .form-control {
    padding-left: 2.375rem;
    position: relative;    
    border-radius: 100px;
}

.has-search .form-control-feedback {
    position: absolute;
    z-index: 2;
    display: block;
    width: 2.375rem;
    height: 2.375rem;
    line-height: 2.375rem;
    text-align: center;
    pointer-events: none;
    color: #aaa;
}

.has-search .btn-cari {
    position: absolute;
    z-index: 2;
    display: block;
    right: 15px;
    border-radius: 100px;    
    text-align: center;
    pointer-events: none;
    color: white;
    background: #68C8D8;
}

.btn-filter{    
    height: 2.375rem;
    border-radius: 100px;    
    text-align: center;
    pointer-events: none;
    color: white;
    background: #68C8D8;
}


.select-filter{
    background: none;
    width: 60%;
}
