body{
    background-color: rgb(63, 149, 169, 0.1);
}

.box-shadow{
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    background-color: white;
}


/* left side */
/* profile header */

.profile-header .jumbotron{
    margin: 0;
    width: 100%;    
    background-repeat: no-repeat;    
    top: 0px;
    background-size: cover;
    background-position: bottom center;    
    height: 240px;    
    box-shadow: inset 0 0 20px rgba(0, 0, 0, .3);
    padding: 0;
    border-radius: 0%;
}

.profile-header .image-default img{

    width: 140px;
    height: 140px;
    position: absolute;
    border-radius: 100px;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    top: -80px;
    left: 85px;    
    margin: 0 auto;    
    z-index: 10;
}

.profile-header .username-info{
    float: right;
}
@media screen and (max-width: 1204px) and (min-width: 600px) {
    .profile-header .image-default img{

        width: 120px;
        height: 120px;
        position: absolute;
        border-radius: 100px;
        background-color: white;
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
        top: -80px;
        left: 40px;            
        margin: 0 auto;    
        z-index: 10;
    }   

    .profile-header .username-info{
        float: none;
        margin-top: 30px;
    }
}

@media screen and (max-width: 736px) {
    
    .profile-header .image-default img{

        width: 120px;
        height: 120px;
        position: absolute;
        border-radius: 100px;
        background-color: white;
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
        top: -80px;
        left: 107px;    
        margin: 0 auto;    
        z-index: 10;
    }   
    .profile-header .username-info{
        float: none;
        margin-top: 30px;
        margin-left: 20px;
    }
}

.profile-header #pic {
    display: none;
}

.newbtn {
    cursor: pointer;
}

.company-name{
    font-weight: bolder;
    text-transform: capitalize;
}

.user-status{        
    pointer-events: none;
    color: #BDBDBD;
    font-size: 17px;
    font-weight: bolder;    
}

.btn-export{    
    background-color: white;
    color: #68C8D8;
    font-weight: 600;
    font-size: 15px;
    width: 60%;    
    border: 2px solid #68C8D8;
}

.btn-export:hover{
    background-color: #68C8D8;
    color: white;
}



.upgrade-button{
    background: none!important;
    border: none;
    padding: 0!important;            
    color: #069;    
    cursor: pointer;
}


.user-info-detail .btn-show-modal{
    border: 1px solid #68C8D8;
    color: #68C8D8;
}

.user-info-detail .btn-show-modal:hover{
    border: 1px solid #68C8D8;
    color: #68C8D8;
    background: rgb(104, 200, 206, 0.2);
}


.user-info-detail .header-title{
    font-weight: bolder;
}

.user-info-detail hr{
    background-color: rgb(63, 149, 169, 0.1);
    height: 1px;
}
/* Basic Info Section */

.info-title{
    font-weight: bolder;
    margin-bottom: 5px;
}

/* user perusahaan section */

.user-img{
    width: 140px;
    height: 140px;    
    border-radius: 100px;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

/* social media perusahaan */
.socmed-img{
    display: block;        
    width: 50px;
    height: 50px;
    padding: 10px;
    background: rgb(63, 149, 169, 0.1);
    border-radius: 100px;
}





/* Modal Update*/

.btn-cancel{
    background: #FAFAFA;
    border-radius: 100px;
    color: #BDBDBD;
    width: 120px;
}

.btn-simpan{
    background: #68C8D8;
    border-radius: 100px;
    color: white;
    width: 120px;
}

.modal-footer{
    border: none;
}

.modal-header{
    border-bottom: 2px solid rgb(63, 149, 169, 0.1);    
    margin-left: 15px;
    margin-right: 15px;
}

/* basic-info modal */
.modal .image-default img{

    width: 120px;
    height: 120px;                    
    margin-left: 145%;
    
}

@media screen and (max-width: 1204px) and (min-width: 600px) {
    .modal .image-default img{

        width: 120px;
        height: 120px;                    
        margin-left: 145%;
        
    }   
    
}

@media screen and (max-width: 736px) {
    
    .modal .image-default img{

        width: 120px;
        height: 120px;                    
        margin-left: 80%;
        
    }
}

.modal #pic {
    display: none;
}

.img-warning{
    height: 20px;    
}

.verify-email{
    color: #68C8D8;    
}

/* modal update social media */
.btn-view-more{
    border: 2px solid #68C8D8;
    color: #68C8D8;
}   






/* floating label */
.has-float-label{
	display:block;
	position:relative
}
.has-float-label label, .has-float-label > span{
	position:absolute;
	cursor:text;
	font-size:75%;
	opacity:1;
	-webkit-transition:all .2s;
	transition:all .2s;
	top:-.5em;
	left:.75rem;
	z-index:3;
	line-height:1;
    padding:0 1px    
}
.has-float-label label::after, .has-float-label > span::after{
	content:" ";
	display:block;
	position:absolute;
	background:#fff;
	height:2px;
	top:50%;
	left:-.2em;
	right:-.2em;
	z-index:-1
}
.has-float-label .form-control::-webkit-input-placeholder{
	opacity:1;
	-webkit-transition:all .2s;
    transition:all .2s;
    box-shadow: none;
    
}
.has-float-label .form-control::-moz-placeholder{
	opacity:1;
	transition:all .2s;
}
.has-float-label .form-control:-ms-input-placeholder{
	opacity:1;
	transition:all .2s;
}
.has-float-label .form-control::placeholder{
	opacity:0;
	-webkit-transition:all .2s;
	transition:all .2s;
}
.has-float-label .form-control:placeholder-shown:not(:focus)::-webkit-input-placeholder{
	opacity:0;
}
.has-float-label .form-control:placeholder-shown:not(:focus)::-moz-placeholder{
	opacity:0;
}
.has-float-label .form-control:placeholder-shown:not(:focus):-ms-input-placeholder{
	opacity:0;
}
.has-float-label .form-control:placeholder-shown:not(:focus)::placeholder{
	opacity:0;
}
.has-float-label .form-control:placeholder-shown:not(:focus)+*{
	font-size:100%;
	color: #6c757d;
	opacity: 1;
	top:.3em;
}

.has-float-label .form-control:placeholder-shown:not(:focus)+*{
	font-size:100%;
	color: #6c757d;
	opacity: 1;
	top:.3em;
}
.has-float-label .form-control:placeholder-shown:not(:focus) + * {
	margin-top: 6px;
}
  

/*Modal Price*/

.pricing-divider {
    border-radius: 20px;
    background: #C64545;
    padding: 1em 0 4em;
    position: relative;
}

.blue .pricing-divider {
    background: #2D5772;
}

.green .pricing-divider {
    background: #1AA85C;
}

.red b {
    color: #C64545
}

.blue b {
    color: #2D5772
}

.green b {
    color: #1AA85C
}

.pricing-divider-img {
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 100%;
    height: 80px;
}

.deco-layer {
    -webkit-transition: -webkit-transform 0.5s;
    transition: transform 0.5s;
}

.btn-custom {
    background: #C64545;
    color: #fff;
    border-radius: 20px
}

.img-float {
    width: 50px;
    position: absolute;
    top: -3.5rem;
    right: 1rem
}

.princing-item {
    transition: all 150ms ease-out;
}

.princing-item:hover {
    transform: scale(1.05);
}

.princing-item:hover .deco-layer--1 {
    -webkit-transform: translate3d(15px, 0, 0);
    transform: translate3d(15px, 0, 0);
}

.princing-item:hover .deco-layer--2 {
    -webkit-transform: translate3d(-15px, 0, 0);
    transform: translate3d(-15px, 0, 0);
}



/* right side */
/* lengkapi profile */

.progress{
    border-radius: 100px;
}
.progress-bar{
    border-radius: 100px;
}


/* notification */
.notif-img{
    height: 50px;
}

/* dream career */

.explain-text{
    font-size: 13px;
}
