/* dashboard-header */
.dashboard-header{
    background-color: rgb(63, 149, 169, 0.1);
}

.user-info-container{
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);;
}

.info-lengkapi-profile{
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    background-color: white;
}

.info-lengkapi-profile a{
    color: black;
}

.info-lengkapi-profile a:hover{
    color: #68C8D8;
}

.fa-angle-right{
    margin-top: 5px;
}

.announcement{
    background-image: linear-gradient(to right, rgb(63,149,169,0.2), white);
    border-right: solid 20px #3F95A9;
}

.announcement-content img{
    width: 40px;
    height: 40px;
}

.announcement-content a,i{
    color: #68C8D8;
}


/* wrap */

.wrap-image-header{
    background: url('/images/Background1.png');
    height: 200px;
    background-repeat: no-repeat;    
    background-size: cover;
    background-position: center;        
    width: 100%;
    position: relative;
}

.wrap-image-header::after {
	content: ''; 
	width: 100%; 
	height: 100%;
	background-color: rgb(63, 149, 169,0.4); 
	/* opacity: 0.4;  */
	position: absolute; 
	top: 0; 
	left: 0;	
}

.wrap-image-header .page-title{
    position: absolute;
    text-align: start;    
    z-index: 2;
    left: 0;
    top: 35px;    
    font-size: 25px;
}

.wrap-image-header .page-title .title-username{
    color: #68C8D8;
    font-weight: bolder;
    text-transform: uppercase;
}

.wrap-image-header .page-title .title-text{
    color: white;
    font-weight: bolder;    
}



/* Feature */

.feature-title{
    font-weight: bolder;
}

.feature-content{
    position: relative;
}
.feature-button{    
    border-radius: 100px;        
    background-color: #68C8D8;
    color: white;
    font-size: 15px;        
    margin-left: 40%;    
    margin-bottom: 20px;
}

.feature-button:hover{
    background-color: #3F95A9;
    color: white;
}

/* tips dan berita */

.tips-berita-title h1 {
    font-weight: bolder;
}

.tips-berita-title hr {
    background-color: #3F95A9;
    width: 20%;
    height: 5px;
    text-align: left;
    margin-left: 0px;
    border-radius: 20px;
    align-content: flex-start;
}

.tips-berita-title a {
    margin-bottom: 50px;
    border-radius: 100px;
    background-color: #68C8D8;
    color: white;
    font-size: 15px;
}

.tips-berita-title a:hover{
    background-color: #3F95A9;
    color: white;
}

.tips-berita-title i {
    color: white;
}

.tips-berita-title span {
    color: #3F95A9;
}

.image-tips-berita-right {
    text-align: end;
    margin-top: 140px;    
}

#line-row {
    position: relative;
    height: 5px;
}

.line {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to right, transparent 50%, #68C8D8 50%);
    background-size: 100px 100%;
}


/* berita carousel */

.berita-list .header{
    position: relative;
    text-align: center;
}


.berita-list h6.berita-kategori{    
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 20px;
    padding-left: 20px;    
    border-radius: 100px;    
    margin-right: 10px;    
    background-color: #F2994A;
    max-width: 80%;
}

.berita-list .judul-berita{    
    font-weight: bolder;
}


.berita-list .footer-card .btn-detail {
    font-weight: bolder;
    font-size: 15px;
    color: #68C8D8;
    transition: 0.3s;
}

.berita-list .footer-card .btn-detail:hover {
    background: #0F91A7;    
}
