/* wrap-slider */
.wrap-slider{
    background: url('/images/1.jpg');
    height: 300px;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;        
    width: 100%;
    position: relative;
}

.wrap-slider::after {
	content: ''; 
	width: 100%; 
	height: 100%;
	background-color: #3F95A9; 
	opacity: 0.5; 
	position: absolute; 
	top: 0; 
	left: 0;	
}

.container.page-container {
    height: 100%;    
}

.wrap-slider .page-content{
    width: 100%;
    height: 100%;
    display: table;    
}

.wrap-slider .page-title{
    text-align: center;
    vertical-align: middle;
    display: table-cell;
    position: relative;
    z-index: 2;
}

.wrap-slider .page-title h1{
    font-family: Source Sans Pro;
    font-size: 60px;
    color: white;        
}

/* Filter */

.select-category{
    box-shadow: 0 4px 8px 0 rgba(104,200,216,0.2);
    transition: 0.3s;
}
.search.buttonIn {     
    position: relative; 
} 
  
.search .buttonIn input{ 
    margin: 0px; 
    padding: 0px;     
    outline: none;     
    border-radius: 100px;     
    font-size: 15px;
    font-weight: Source Sans Pro;
    padding-right: 20%;    
} 

.search .buttonIn i{
    position: absolute; 
    top: 15px;     
    left: 20px;
    z-index: 2;     
    height: 30px; 
    cursor: pointer; 
    color: #68C8D8; 
    transform: translateX(2px); 
}
  
.search .buttonIn button { 
    position: absolute; 
    top: 12px; 
    border-radius: 100px; 
    right: 20px; 
    z-index: 2; 
    border: none;     
    height: 30px; 
    cursor: pointer; 
    color: white; 
    background-color: #1e90ff; 
    transform: translateX(2px); 
} 

.filter-button .btn-dropdown{
    border-radius: 100px;
    background: #1e90ff;
}

.filter-button .sort-col{
    padding: 9px;    
    background: #1e90ff;    
}

.filter-button .sort-col i{
    color: white;    
}

.filter-button .sort-row{
    padding: 8px;    
    border: 1px solid #1e90ff;
}

.filter-button .sort-row i{
    color: #1e90ff;    
}

/* .poluler-category .button-category .category button{    
    width: 70%;
    border-radius: 100px;
    height: 80px;
    font-size: 13px;    
    color: #BDBDBD;
    text-align: center;
    margin-top: 10px;
    font-weight: bolder;
} */

#seni{
    width: 70%;
    height: 80px;
    padding: 10px 10px 10px 70px;    
    background: url('/images/map_art-gallery.png') 10px 10px no-repeat;
    border-radius: 100px;        
}

#teknologi{
    width: 70%;
    height: 80px;
    padding: 10px 10px 10px 70px;    
    background: url('/images/jam_computer-alt.png') 10px 10px no-repeat;
    border-radius: 100px;    
    text-shadow: 1px 1px #fff;       
}

#komunikasi{
    width: 70%;
    height: 80px;
    padding: 10px 10px 10px 70px;    
    background: url('/images/cil_speech.png') 10px 10px no-repeat;
    border-radius: 100px;    
    text-shadow: 1px 1px #fff;       
}

#bisnis{
    width: 70%;
    height: 80px;
    padding: 10px 10px 10px 70px;    
    background: url('/images/map_accounting.png') 10px 10px no-repeat;
    border-radius: 100px;    
    text-shadow: 1px 1px #fff;       
}
#seni:hover{
    background: rgba(104,200,216,0.2) url('/images/map_art-gallery.png') 10px 10px no-repeat;
    color: #68C8D8;
}

#teknologi:hover{
    background: rgba(104,200,216,0.2) url('/images/jam_computer-alt.png') 10px 10px no-repeat;
    color: #68C8D8;
}

#komunikasi:hover{
    background: rgba(104,200,216,0.2) url('/images/cil_speech.png') 10px 10px no-repeat;
    color: #68C8D8;
}

#bisnis:hover{    
    background: rgba(104,200,216,0.2) url('/images/map_accounting.png') 10px 10px no-repeat;
    color: #68C8D8;
}

/* kursus card */
.kursus-list h6.course-category{
    position: relative;
    color: #3F95A9;
    margin-bottom: 10px;
    padding-left: 30px;
}

.kursus-list h6.course-category::before{
    content: "";
    position: absolute;
    left: 0;
    top: 9px;
    width: 20px;
    height: 2px;
    background: #3F95A9;
}
.kursus-list .course-name{    
    font-weight: bolder;
}

.kursus-list .footer-card .price-tag{
    color: #EB5757;
}

.kursus-list .footer-card .btn-block {
    background: #68C8D8;
    border-radius: 100px;
    color: white;
    font-weight: bold;
    transition: 0.3s;
}

.kursus-list .footer-card .btn-block:hover {
    background: #0F91A7;    
}


/* detail kursus */

.wrap-course-details .course-category p{
    position: relative;
    color: #3F95A9;
    margin-bottom: 10px;
    padding-left: 30px;
}

.wrap-course-details .course-category p::before{
    content: "";
    position: absolute;
    left: 0;
    top: 13px;
    width: 20px;
    height: 2px;
    background: #3F95A9;
}

.title-detail .right-side h1{
    text-transform: uppercase;
    font-weight: bolder;
}

.title-detail .right-side .mentor{
    text-transform: capitalize;
    font-weight: bold;
}

.title-detail .hour-rate .hour-side p{
    font-size: 15px;
    color: #BDBDBD;    
}

.rate-side img{
    height: 23px;
    width: 23px;
    
}

.title-detail hr{
    background-color: #3F95A9;
    width: 20%;
    height: 5px;
    text-align: left;
    margin-left: 17px;
    border-radius: 20px;
    align-content: flex-start;
}

.course-about h3{
    font-size: 24px;
    font-weight: bolder;
}

.course-advantage h3{
    font-size: 24px;
    font-weight: bolder;
}

.wrap-course-details .line-3{
    background-color: #3F95A9;
    width: 20%;
    height: 5px;
    text-align: left;
    margin-left: 0px;
    border-radius: 20px;
    align-content: flex-start;
}

.course-silabus h3{
    font-size: 24px;
    font-weight: bolder;
}

.course-silabus thead{
    background-color: #3F95A9;
    color: white;
}

.course-silabus tbody{
    background-color: #FAFAFA;

}

.gabung h3{
    font-size: 24px;
    font-weight: bolder;    
}

.gabung .pull-right span{
    color: #EB5757;
}

.gabung .pull-right{
    color: #BDBDBD;
}

.gabung .kuota-tersedia{
    color: #3F95A9;
}

.gabung .kuota-tersedia img{
    width: 40px;
    height: 40px;
}

.gabung .kuota-tersedia span{
    font-weight: bolder;
}

.gabung .btn-gabung{
    background-color: #68C8D8;
    color: white;
    border-radius: 100px;
    height: 40px;
    transition: 0.5s;
}

.gabung .btn-gabung:hover{
    background-color: #3F95A9;    
}

.rating-komentar h3{
    font-size: 24px;
    font-weight: bolder;    
}

/* for rating */

.star-rating__stars {
    position: relative;
    height: 20px;
    width: 100px;
    background: url('/images/star5.png');
    background-size: 20px 20px;
  }
  
  .star-rating__label {
    position: absolute;
    height: 100%;
    background-size: 20px 20px;
  }
  
  .star-rating__input {
    margin: 0;
    position: absolute;
    height: 1px; width: 1px;
    overflow: hidden;
    clip: rect(1px, 1px, 1px, 1px);
  }
  
  .star-rating__stars .star-rating__label:nth-of-type(1) {
    z-index: 5;
    width: 20%;
  }
  
  .star-rating__stars .star-rating__label:nth-of-type(2) {
    z-index: 4;
    width: 40%;
  }
  
  .star-rating__stars .star-rating__label:nth-of-type(3) {
    z-index: 3;
    width: 60%;
  }
  
  .star-rating__stars .star-rating__label:nth-of-type(4) {
    z-index: 2;
    width: 80%;
  }
  
  .star-rating__stars .star-rating__label:nth-of-type(5) {
    z-index: 1;
    width: 100%;
  }
  
  .star-rating__input:checked + .star-rating__label,
  .star-rating__input:focus + .star-rating__label,
  .star-rating__label:hover {
    background-image: url('/images/star1.png');
  }
  
  .star-rating__label:hover ~ .star-rating__label {
    background-image: url('/images/star5.png');
  }
  
  .star-rating__input:focus ~ .star-rating__focus {
    position: absolute;
    top: -.25em;
    right: -.25em;
    bottom: -.25em;
    left: -.25em;
    outline: 0.25rem solid lightblue;
  }

.wrap-course-mentor .mentor-name{
      font-weight: bolder;
      text-transform: capitalize;
  }

.wrap-course-mentor .mentor-job{    
    text-transform: capitalize;
}

.wrap-course-mentor .mentor-img{    
    display:block;
    margin:auto;
}

.rating-komentar .btn-delete{
    border-radius: 100px;    
    border: 1px solid #EB5757;
    color: #EB5757;
}

.rating-komentar .btn-edit{
    border-radius: 100px;    
    border: 1px solid #68C8D8;
    color: #68C8D8;
}

.rating-komentar .btn-kirim{
    background-color: #68C8D8;
    border-radius: 100px;
    color: white;
}

.wrap-course-mentor .follow .btn-circle {        
    width: 40px;
    height: 40px;
    color: #BDBDBD;
}

.wrap-course-mentor .follow .btn-circle:hover{
    color: #68C8D8;
}
.wrap-course-mentor .follow li{
    display: inline;
}


/* review dan komentar */

.review-komentar h3{
    font-size: 24px;
    font-weight: bolder;
}

.review-komentar h5{
    font-size: 20px;
    font-weight: bold;
}