html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Source Sans Pro';
}

/* navbar */
.navbar {
    background: white;
}

.nav-link,
.navbar-brand {
    color: #BDBDBD;
    cursor: pointer;
}

.nav-link {
    margin-right: 1em !important;
}

.nav-link:hover {
    background: #f4f4f4;
    color: #3F95A9;
}

#navbar-nav {
    margin: auto;
}

.navbar-toggle {
    background: #FFF;
}

#navButton {
    color: #3F95A9;
    border: solid 1px #3F95A9;
    border-radius: 100px;
}

#navButton:hover {
    background: #3F95A9;
    color: #ffffff;
}

.navbar-toggler-icon {
    background-image: url('https://cdn4.iconfinder.com/data/icons/wirecons-free-vector-icons/32/menu-alt-512.png');
}

/* carousel header */
header .carousel-inner .carousel-item {
    height: 80vh;
}

.carousel-item .banner-1 {

    background-image: url('/images/1.jpg');
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    height: 70vh;
}

.carousel-item .banner-2 {
    background-image: url('/images/1.jpg');
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    height: 70vh;
}

.carousel-item .banner-3 {
    background-image: url('/images/1.jpg');
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    height: 70vh;
}

.carousel-caption {
    padding-bottom: 150px;
}

.carousel-caption h4 {
    font-size: 40px;
    text-transform: uppercase;
    font-weight: bold;
}

.carousel-caption h4 span {
    color: #3F95A9;
}

.carousel-indicators .active {
    background-color: #68C8D8;
    border-radius: 100%;
    width: 15px;
    height: 12px;
}

.carousel-indicators li {
    background-color: white;
    border-radius: 100%;
    width: 10px;
    height: 10px;
    opacity: 1;
}

.carousel-caption .img-caption {
    border-right: 3px solid white;
}




/* section event */

.event-title h1 {
    font-weight: bolder;
}

.event-title hr {
    background-color: #3F95A9;
    width: 20%;
    height: 5px;
    text-align: left;
    margin-left: 0px;
    border-radius: 20px;
    align-content: flex-start;
}

@media screen and (min-width: 992px) {
    .event-list-button {
        position: relative;
    }

    .event-list-button a {
        position: absolute;
        bottom: 0;
        margin-bottom: 50px;
        right: 0;
        border-radius: 100px;
        background-color: #68C8D8;
        color: white;
    }
}

@media screen and (max-width: 992px) and (min-width: 600px) {
    .event-list-button {
        position: relative;
    }

    .event-list-button a {
        position: absolute;
        bottom: 0;
        margin-bottom: 50px;
        right: 0;
        border-radius: 100px;
        background-color: #68C8D8;
        color: white;
    }
}

@media screen and (max-width: 600px) {
    .event-list-button a {
        border-radius: 100px;
        margin-bottom: 50px;
        background-color: #68C8D8;
        color: white;
    }
}

#carouselEventIndicators .carousel-inner {
    max-height: 300px;
}

#carouselEventIndicators .carousel-item {
    text-align: center;
}

#carouselEventIndicators .carousel-inner img {
    display: inline-block;
    max-height: 200px;
}

#carouselEventIndicators .carousel-indicators li {
    background-color: #BDBDBD;
}

#carouselEventIndicators .carousel-indicators .active {
    background-color: #3F95A9;
}

#carouselEventIndicators .carousel-control-next i {
    color: #68C8D8;
}

#carouselEventIndicators .carousel-control-prev i {
    color: #68C8D8;
}



/* prooduct */

.product {
    margin: 0px;
    background: url('/images/backgroud-gedung.png');
    background-repeat: no-repeat;
    /* height: 100px; */
    background-size: cover;
    background-position: center;
    width: 100%;
    position: relative;
}

.product::before {
    content: '';
    width: 100%;
    height: 100%;
    background-color: #3F95A9;
    opacity: 0.7;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
}

.img-cloud-top {
    background-image: url('/images/cloud-top.png');
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    height: 45vh;
    position: relative;
    z-index: 2;
}

.product .container {
    position: relative;
    z-index: 2;
}

.product .container h1 {
    font-weight: bolder;
    color: white;
}

.product .container .feature-explain {
    color: white;
}

.product .container hr {
    background-color: #3F95A9;
    width: 20%;
    height: 5px;
    text-align: left;
    margin-left: 0px;
    border-radius: 20px;
    align-content: flex-start;
}

#btn-feature {
    height: 15rem;
    border-radius: 10px;
    margin-bottom: 20px;
}

#btn-feature .img-fluid {
    margin: auto;
    margin-top: 45px;
    width: 100px;
    height: 100px;
}

#btn-feature .feature-name {
    font-size: 17px;
    font-weight: bolder;
    color: #BDBDBD;
    text-transform: uppercase;
    margin-top: 10px;
}

.img-cloud-bottom {
    background-image: url('/images/cloud-bottom.png');
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    height: 45vh;
    position: relative;
    z-index: 2;
}


/* cari lowongan */
.cari-lowongan .left-side h1 {
    font-weight: bolder;
}

.cari-lowongan .left-side span {
    color: #3F95A9;
}

.cari-lowongan .left-side hr {
    background-color: #3F95A9;
    width: 20%;
    height: 5px;
    text-align: left;
    margin-left: 0px;
    border-radius: 20px;
    align-content: flex-start;
}

.cari-lowongan .left-side a {
    border-radius: 100px;
    background-color: #68C8D8;
    color: white;
    font-size: 15px;
}

.right-side {
    position: relative;
}

.right-side .buttonIn input {
    margin-top: 25%;
    padding: 0px;
    outline: none;
    border-radius: 100px;
    font-size: 15px;
    font-weight: Source Sans Pro;
    padding-right: 20%;
}

.right-side .buttonIn i {
    position: absolute;
    top: 44%;
    left: 20px;
    z-index: 2;
    height: 30px;
    cursor: pointer;
    color: #68C8D8;
    transform: translateX(2px);
}

.right-side .buttonIn button {
    position: absolute;
    top: 42%;
    border-radius: 100px;
    right: 20px;
    z-index: 2;
    border: none;
    height: 30px;
    cursor: pointer;
    color: white;
    background-color: #1e90ff;
    transform: translateX(2px);
}

.right-side p {
    text-align: end;
    color: #BDBDBD;
}

.right-side .fa-info {
    border: 1px solid #BDBDBD;
    text-align: center;
    border-radius: 100%;
    width: 18px;
    height: 18px;
}

.right-side .join-text {
    color: #68C8D8;
    font-weight: bolder;
}

/* info website */
.info-website {
    background: url('/images/Background1.png');
    background-repeat: no-repeat;
    /* height: 100px; */
    background-size: cover;
    background-position: center;
    width: 100%;
    position: relative;
}

.info-website::before {
    content: '';
    width: 100%;
    height: 100%;
    background-color: #3F95A9;
    opacity: 0.7;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
}

.info-website .container {
    z-index: 2;
}

.info-website .info-jumlah {
    font-size: 25px;
    color: white;
    font-weight: bolder;
}

.info-website .text-explain {
    font-size: 15px;
    color: white;
    font-weight: 1;
}



/* kategori populer */

.lowongan-content {
    height: 100px;
    max-height: 100px;
    border: 1px solid #BDBDBD;
}

.lowongan-name {
    font-size: 16px;
}

#btn-kategori {
    border: solid 2px;
}

#image-kategori {
    display: block;
    margin: auto;
    margin-top: 15%;
    width: 70px;
    height: 70px;
    background: rgb(189, 189, 189, 0.2);
    border-radius: 100px;
}

#jmlLowongan {
    color: #68C8D8;
    font-size: 13px;
}

#line-row {
    position: relative;
    height: 5px;
}

.line {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to right, transparent 50%, #68C8D8 50%);
    background-size: 100px 100%;
}


/* lowongan terbaik */

.lowongan-terbaik-content {
    position: relative;
}

.lowongan-terbaik-content .city-name {
    position: absolute;
    top: 47%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 20px;
    color: white;
}

/* lowongan terkini */
.lowongan-terkini {
    background: rgb(63, 149, 169, 0.1);
}


.lowongan-kerja .update-time p,
i {
    color: #BDBDBD;
    font-size: 12px;
}


.lowongan-kerja .company-location p,
i {
    color: #BDBDBD;
}

.lowongan-kerja .job-position h6 {
    color: #3F95A9;
}

.lowongan-kerja .job-position p {
    color: #BDBDBD;
}

.lowongan-kerja .btn-detail {
    background: #3F95A9;
    border-radius: 100px;
    color: white;
    font-size: 13px;
    font-weight: lighter;
}

.prev-lowongan {
    top: 200px;
    background: #3F95A9;
    width: 50px;
    height: 60px;
    opacity: 50%;

}

.next-lowongan {
    top: 200px;
    background: #3F95A9;
    width: 50px;
    height: 60px;
    opacity: 50%;
}

.carousel-control {
    position: relative;
}

.carousel-control .carousel-indicators {
    top: 300px;
}

@media screen and (max-width: 600px) {
    .carousel-control .carousel-indicators {
        top: 1520px;
    }
}

/* daftar akun */
.signup-title {
    font-weight: bolder;
}

.daftar-akun h1 {
    color: #3F95A9;
    font-weight: bolder;
}

.daftar-akun .btn-signup {
    width: 200px;
    height: 50px;
    background: #68C8D8;
    border-radius: 100px;
    color: white;
}

.daftar-akun .btn-signup img {
    height: 20px;
}


/* list-course */
.list-course-title h1 {
    font-weight: bolder;
}

.list-course-title hr {
    background-color: #3F95A9;
    width: 20%;
    height: 5px;
    text-align: left;
    margin-left: 0px;
    border-radius: 20px;
    align-content: flex-start;
}

.list-course-title a {
    margin-bottom: 50px;
    border-radius: 100px;
    background-color: #68C8D8;
    color: white;
    font-size: 15px;
}

.list-course-title i {
    color: white;
}

.list-course-title span {
    color: #3F95A9;
}

.image-list-course-right {
    text-align: end;
    margin-top: 140px;
    display: none;
}


/* footer */
/*Footer*/
.footer-widget p {
    margin-bottom: 27px;
}


.animate-border {
    position: relative;
    display: block;
    width: 115px;
    height: 3px;
    background: #3F95A9;
}

.animate-border:after {
    position: absolute;
    content: "";
    width: 35px;
    height: 3px;
    left: 0;
    bottom: 0;
    border-left: 10px solid #fff;
    border-right: 10px solid #fff;
    -webkit-animation: animborder 2s linear infinite;
    animation: animborder 2s linear infinite;
}

@-webkit-keyframes animborder {
    0% {
        -webkit-transform: translateX(0px);
        transform: translateX(0px);
    }

    100% {
        -webkit-transform: translateX(113px);
        transform: translateX(113px);
    }
}

@keyframes animborder {
    0% {
        -webkit-transform: translateX(0px);
        transform: translateX(0px);
    }

    100% {
        -webkit-transform: translateX(113px);
        transform: translateX(113px);
    }
}

.animate-border.border-white:after {
    border-color: #fff;
}

.animate-border.border-yellow:after {
    border-color: #F5B02E;
}

.animate-border.border-orange:after {
    border-right-color: #3F95A9;
    border-left-color: #3F95A9;
}

.animate-border.border-ash:after {
    border-right-color: #EEF0EF;
    border-left-color: #EEF0EF;
}

.animate-border.border-offwhite:after {
    border-right-color: #F7F9F8;
    border-left-color: #F7F9F8;
}

/* Animated heading border */
@keyframes primary-short {
    0% {
        width: 15%;
    }

    50% {
        width: 90%;
    }

    100% {
        width: 10%;
    }
}

@keyframes primary-long {
    0% {
        width: 80%;
    }

    50% {
        width: 0%;
    }

    100% {
        width: 80%;
    }
}

.dk-footer {
    padding: 55px 0 0;
    background-color: #151414;
    position: relative;
    z-index: 2;
}

.dk-footer .contact-us {
    margin-top: 0;
    margin-bottom: 0px;
    padding-left: 0px;
}

.dk-footer .contact-us .contact-info {
    margin-left: 50px;
}

.dk-footer .contact-icon i {
    font-size: 24px;
    top: -15px;
    position: relative;
    color: #3F95A9;
}

/*.dk-footer-box-info {
    position: absolute;
    top: -122px;
    background: #202020;
    padding: 40px;
    z-index: 2;
}*/

.dk-footer-box-info .footer-social-link h3 {
    color: #fff;
    font-size: 24px;
    margin-bottom: 25px;
}

.dk-footer-box-info .footer-social-link ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.dk-footer-box-info .footer-social-link li {
    display: inline-block;
}

.dk-footer-box-info .footer-social-link a i {
    display: block;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    text-align: center;
    line-height: 40px;
    background: #000;
    margin-right: 5px;
    color: #fff;
}

.dk-footer-box-info .footer-social-link a i.fa-facebook {
    background-color: #3B5998;
}

.dk-footer-box-info .footer-social-link a i.fa-twitter {
    background-color: #55ACEE;
}

.dk-footer-box-info .footer-social-link a i.fa-google-plus {
    background-color: #DD4B39;
}

.dk-footer-box-info .footer-social-link a i.fa-linkedin {
    background-color: #0976B4;
}

.dk-footer-box-info .footer-social-link a i.fa-instagram {
    background-color: #B7242A;
}

.footer-awarad {
    margin-top: 285px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 100%;
    -moz-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.footer-awarad p {
    color: #fff;
    font-size: 24px;
    font-weight: 700;
    margin-left: 20px;
    padding-top: 15px;
}

.footer-info-text {
    color: #FFF;
    margin: 26px 0 32px;
}

.footer-left-widget {
    padding-left: 0px;
}

.footer-widget .section-heading {
    margin-bottom: 35px;
}

.footer-widget h3 {
    font-size: 24px;
    color: #fff;
    position: relative;
    margin-bottom: 15px;
    max-width: -webkit-fit-content;
    max-width: -moz-fit-content;
    max-width: fit-content;
}

.footer-widget ul {
    width: 50%;
    float: left;
    list-style: none;
    margin: 0;
    padding: 0;
}

.footer-widget li {
    margin-bottom: 18px;
}

.footer-widget p {
    margin-bottom: 27px;
}

.footer-widget a {
    color: #878787;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

.footer-widget a:hover {
    color: #3F95A9;
}

.footer-widget:after {
    content: "";
    display: block;
    clear: both;
}

.dk-footer-form {
    position: relative;
}

.dk-footer-form input[type=email] {
    padding: 14px 28px;
    border-radius: 50px;
    background: #2E2E2E;
    border: 1px solid #2E2E2E;
}

.dk-footer-form input::-webkit-input-placeholder,
.dk-footer-form input::-moz-placeholder,
.dk-footer-form input:-ms-input-placeholder,
.dk-footer-form input::-ms-input-placeholder,
.dk-footer-form input::-webkit-input-placeholder {
    color: #878787;
    font-size: 14px;
}

.dk-footer-form input::-webkit-input-placeholder,
.dk-footer-form input::-moz-placeholder,
.dk-footer-form input:-ms-input-placeholder,
.dk-footer-form input::-ms-input-placeholder,
.dk-footer-form input::placeholder {
    color: #878787;
    font-size: 14px;
}

.dk-footer-form button[type=submit] {
    position: absolute;
    top: 0;
    right: 0;
    padding: 12px 24px 12px 17px;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    border: 1px solid #3F95A9;
    background: #3F95A9;
    color: #fff;
}

.dk-footer-form button:hover {
    cursor: pointer;
}

/* ==========================

    Contact

=============================*/
.contact-us {
    position: relative;
    z-index: 2;
    margin-top: 65px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.contact-icon {
    position: absolute;
}

.contact-icon i {
    font-size: 36px;
    top: -5px;
    position: relative;
    color: #3F95A9;
}

.contact-info {
    margin-left: 75px;
    color: #fff;
}

.contact-info h3 {
    font-size: 20px;
    color: #fff;
    margin-bottom: 0;
}

.copyright {
    padding: 15px 0;
    margin-top: 25px;
    background-color: #202020;
}

.copyright span,
.copyright a {
    color: #878787;
}

.copyright a:hover {
    color: #3F95A9;
}
