.form-search{
    outline: 0;
    border-width: 0 0 2px;
    width: 80%;    
}
.form-search:focus{
    border-color: #3F95A9;
}

#btnSearch{
    background-color: #3F95A9;
    color: white;
}

.fa-search{
    height: 20px;
    width: 20px;
}

.lowongan-kerja{    
    border-radius: 20px;    
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    
}

.lowongan-kerja .update-time p,i{
    color: #BDBDBD;
}


.lowongan-kerja .company-location p,i{
    color: #BDBDBD;
}

.lowongan-kerja .job-position h6{
    color: #3F95A9;
}
.lowongan-kerja .job-position p{
    color: #BDBDBD;
}

.lowongan-kerja .btn-block{
    background: #3F95A9;
    border-bottom-right-radius: 20px;
    color: white;
    font-size: 13px;
    font-weight: lighter;    
}
.lowongan-kerja .fa-angle-right{    
    color: white;    
}

/* Detail Lowongan */
#img-profile-nav{
    height: 40px;
    width: 40px;
    border-radius: 100px;
}

.emp-profile{
    padding: 3%;    
    margin-bottom: 3%;
    border-radius: 0.5rem;
    background: #fff;
}
.profile-img{
    text-align: center;
}
.profile-img img{
    width: 70%;
    height: 100%;
    max-height: 160px;
}

.profile-head h5{
    color: #333;
}
.profile-head h6{
    color: #3F95A9;
}

.profile-head .nav-tabs{
    margin-bottom:5%;
}
.profile-head .nav-tabs .nav-link{
    font-weight:600;
    border: none;
}
.profile-head .nav-tabs .nav-link.active{
    border: none;
    border-bottom:2px solid #68C8D8;
}
.profile-work{
    padding: 14%;
    margin-top: -15%;
}
.profile-work p{
    font-size: 12px;
    color: #818182;
    font-weight: 600;
    margin-top: 10%;
}

.profile-tab label{
    font-weight: 600;
}
.profile-tab p{
    font-weight: 600;
    color: #3F95A9;
}
