body{
    background-color: rgb(63, 149, 169, 0.1);
}

.box-shadow{
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    background-color: white;
}

/* profile header */

.profile-header .jumbotron{
    margin: 0;
    width: 100%;
    
    background-repeat: no-repeat;    
    top: 0px;
    background-size: cover;
    background-position: bottom center;    
    height: 240px;    
    box-shadow: inset 0 0 20px rgba(0, 0, 0, .3);
    padding: 0;
    border-radius: 0%;
}

.profile-header .image-default img{

    width: 120px;
    height: 120px;
    position: absolute;
    top: -80px;
    left: 85px;    
    margin: 0 auto;    
    z-index: 10;
}

@media screen and (max-width: 992px) and (min-width: 600px) {
    .profile-header .image-default img{

        width: 120px;
        height: 120px;
        position: absolute;
        top: -80px;
        left: 40px;    
        margin: 0 auto;    
        z-index: 10;
    }   
}

@media screen and (max-width: 600px) {
    
    .profile-header .image-default img{

        width: 120px;
        height: 120px;
        position: absolute;
        top: -80px;
        left: 107px;    
        margin: 0 auto;    
        z-index: 10;
    }   
}

#pic {
    display: none;
}

.newbtn {
    cursor: pointer;
}

.username{
    font-weight: bolder;
    text-transform: capitalize;
}

.btn-export{
    border-radius: 100px;
    background-color: #68C8D8;
    color: white;
    font-weight: bolder;
    font-size: 15px;
    width: 30%;
    height: 45px;
}

.btn-preview{
    border-radius: 100px;
    background-color: rgb(104, 200, 216, 0.6);
    color: white;
    font-weight: bolder;
    font-size: 15px;
    width: 30%;
    height: 45px;
}

.user-status{
    border: 1px solid #BDBDBD;
    width: 20%;
    pointer-events: none;
    color: #BDBDBD;
    font-size: 17px;
    font-weight: bolder;    
}

.upgrade-text{
    
}


.upgrade-button{
    background: none!important;
    border: none;
    padding: 0!important;
    /*optional*/
    font-family: arial, sans-serif;
    /*input has OS specific font-family*/
    color: #069;    
    cursor: pointer;
}



/*Modal Price*/

.pricing-divider {
    border-radius: 20px;
    background: #C64545;
    padding: 1em 0 4em;
    position: relative;
}

.blue .pricing-divider {
    background: #2D5772;
}

.green .pricing-divider {
    background: #1AA85C;
}

.red b {
    color: #C64545
}

.blue b {
    color: #2D5772
}

.green b {
    color: #1AA85C
}

.pricing-divider-img {
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 100%;
    height: 80px;
}

.deco-layer {
    -webkit-transition: -webkit-transform 0.5s;
    transition: transform 0.5s;
}

.btn-custom {
    background: #C64545;
    color: #fff;
    border-radius: 20px
}

.img-float {
    width: 50px;
    position: absolute;
    top: -3.5rem;
    right: 1rem
}

.princing-item {
    transition: all 150ms ease-out;
}

.princing-item:hover {
    transform: scale(1.05);
}

.princing-item:hover .deco-layer--1 {
    -webkit-transform: translate3d(15px, 0, 0);
    transform: translate3d(15px, 0, 0);
}

.princing-item:hover .deco-layer--2 {
    -webkit-transform: translate3d(-15px, 0, 0);
    transform: translate3d(-15px, 0, 0);
}
