:root {
    --input-padding-x: 1.5rem;
    --input-padding-y: .75rem;
}

body {
    font-family: 'Source Sans Pro';
}

/* navbar */
.navbar {
    background: white;
}

.nav-link,
.navbar-brand {
    color: #BDBDBD;
    cursor: pointer;
}

.nav-link {
    margin-right: 1em !important;
}

.nav-link:hover {
    background: #f4f4f4;
    color: #3F95A9;
}

#navbar-nav {
    margin-left: auto;
}

.navbar-toggle {
    background: #ffffff !important;
}

#navButton {
    color: #3F95A9;
    border: solid 1px #3F95A9;
    border-radius: 100px;
}

#navButton:hover {
    background: #3F95A9;
    color: #ffffff;
}

.navbar-toggler-icon {
    background-image: url('https://cdn4.iconfinder.com/data/icons/wirecons-free-vector-icons/32/menu-alt-512.png');
}

#profilebutton {
    height: 30px;
}

.dropdown-menu{
    left:-120px;
}

.dropdown-menu hr{    
    border: 1px solid rgb(63, 149, 169, 0.1);
    margin-left: 5px;    
    margin-right: 5px;
}