body{
    background-color: rgb(63, 149, 169, 0.1);
}

.box-shadow{
    background-color: white;    
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

/* list konten */
.btn-tambah-berita{
    background-color: #68C8D8;
    color: white;

}

.berita-menu a{
    color: #aca4a4;
}

.berita-menu .active{
    color: #68C8D8;
}
.form-search{
    background-color: white;
    border: none;    
}

.btn-search{
    background-color: #68C8D8;
    color: white;
    border-right: 10px;
}

hr{
    background-color: rgb(63, 149, 169, 0.1);
    height: 2px;
}


.box-shadow-card{
    border-radius: 10px;
    background-color: white;    
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.img-berita-list{
    max-width: 70px;    
    height: 65px;
    border-radius: 10px;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.dropdown .btn-drop{
    color: #68C8D8;
    font-size: 25px;
}

.dropdown-menu a{
    color: #68C8D8;
}

.dropdown-menu a:hover{
    color: #68C8D8;
    background-color: rgb(63, 149, 169, 0.1);
}

.dropdown-menu button{
    color: #EB5757;
}

.dropdown-menu button:hover{
    color: #EB5757;
    background-color: rgb(235, 87, 87, 0.1);
}

.btn-detail{    
    background-color: #6FCF97;
    color: white;
    border-radius: 10px;
}

.berita-title{
    color: black;    
}

.berita-title:hover{
    color: #68C8D8;
}

/* detail kontent */

.btn-back{
    background-color: #68C8D8;
    color: white;
    margin: auto;
}

.btn-edit{
    width: 150px;
    background-color: white;
    border: 1px solid #68C8D8;
    color: #68C8D8;
    border-radius: 4px;    
}

.btn-edit:hover{
    background-color: #68C8D8;
    color: white;
}

.btn-delete{
    width: 150px;
    background-color: white;
    border: 1px solid #EB5757;
    color: #EB5757;
    border-radius: 4px;
}

.btn-delete:hover{
    background-color: #EB5757;
    color: white;
}

.img-berita-detail{
    width: 100%;
}



/* add berita */
.add-berita{
	box-shadow: 0 4px 8px 0 rgba(104,200,216,0.2);
	background-color: white;
}

.btn-batalkan{
    width: 150px;
    background-color: #FAFAFA;
    color: #BDBDBD;
    border-radius: 100px;
}

.btn-simpan{
    width: 150px;
    background-color: #68C8D8;
    color: white;
    border-radius: 100px;
}

.inputfile {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

.inputfile +    label {
    font-size: 1.25em;
    font-weight: 700;
    color: #68C8D8;
    background-color: rgb(104, 200, 206, 0.2);
    border: 1px dashed #68C8D8;
    display: inline-block;
    width: 50%;
    height: 100px;    
    text-align: center;
}

.inputfile:focus + label,
.inputfile + label:hover {
    background-color: rgb(104, 200, 206, 0.5);
}

.inputfile + label {
	cursor: pointer;
}

/* modal delete */

.img-delete-container{    
    width: 120px;
    height: 120px;
    border-radius: 100px;
    background-color: rgb(242, 201, 76, 0.1);
}

.img-delete{
    margin-top: 20%;
    margin-left: auto;
    width: 100%;
}
.box-text-delete{
    border: 1px dashed #EB5757;
    background-color: rgb(235, 87, 87, 0.1);
    color: #4F4F4F;
}

.img-info{
    height: 20px;
}

.btn-cancel{
    width: 150px;
    background-color: #FAFAFA;
    color: #BDBDBD;
    border-radius: 100px;
}

textarea:hover, 
input:hover, 
textarea:active, 
input:active, 
textarea:focus, 
input:focus,
label:focus
{
    outline:0px !important;
    -webkit-appearance:none;
    box-shadow: none !important;
}

/* floating label */
.has-float-label{
	display:block;
	position:relative
}
.has-float-label label, .has-float-label > span{
	position:absolute;
	cursor:text;
	font-size:75%;
	opacity:1;
	-webkit-transition:all .2s;
	transition:all .2s;
	top:-.5em;
	left:.75rem;
	z-index:3;
	line-height:1;
    padding:0 1px;  
    color : black;
    font-weight: bold;  
}
.has-float-label label::after, .has-float-label > span::after{
	content:" ";
	display:block;
	position:absolute;
	background:#fff;
	height:2px;
	top:50%;
	left:-.2em;
	right:-.2em;
    z-index:-1;    
    color : black;
    font-weight: bold;
}
.has-float-label .form-control::-webkit-input-placeholder{
	opacity:1;
	-webkit-transition:all .2s;
    transition:all .2s;
    box-shadow: none;
    
}
.has-float-label .form-control::-moz-placeholder{
	opacity:1;
	transition:all .2s;
}
.has-float-label .form-control:-ms-input-placeholder{
	opacity:1;
	transition:all .2s;
}
.has-float-label .form-control::placeholder{
	opacity:1;
	-webkit-transition:all .2s;
    transition:all .2s;
    
}
.has-float-label .form-control:placeholder-shown:not(:focus)::-webkit-input-placeholder{
	opacity:0;
}
.has-float-label .form-control:placeholder-shown:not(:focus)::-moz-placeholder{
	opacity:0;
}
.has-float-label .form-control:placeholder-shown:not(:focus):-ms-input-placeholder{
	opacity:0;
}
.has-float-label .form-control:placeholder-shown:not(:focus)::placeholder{
	opacity:0;
}
.has-float-label .form-control:placeholder-shown:not(:focus)+*{
	font-size:100%;
	color: #6c757d;
	opacity: 1;
    top:.3em;    
        
}

.has-float-label .form-control:placeholder-shown:not(:focus)+*{
	font-size:100%;
	color: #6c757d;
	opacity: 1;
    top:.3em;    ;
    
}
.has-float-label .form-control:placeholder-shown:not(:focus) + * {
    margin-top: 6px;    
}